article.home-page {
    overflow-x: hidden;
    overflow-y: hidden;
    .nav-scrollable-tabs {
        a {
            display: inline;
            margin-right: .5em;
            font-size: 1.25em;
            &.active {
                color: $body-color;
            }
        }
    }
    .section-container > section {
        padding: 2rem 0;
        line-height: 1.5;
        &:first-child {
            padding-top: 0;
        }
    }

    ////// HERO //////
    section#hero {
      padding: 0 $page-padding-x-lg;
      padding-bottom: 10em;
      display: flex;
      flex-direction: column;
      #model {
        height: 36em;
        width: 55%;
        --poster-color: transparent;  
      }
      .content {
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .infobox-left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 25%;
          span {
            text-align: center;
            font-family: $font-family-sans-serif;
            font-weight: 300;
            font-size: 2em;
          }
          .location {
            display: flex;
            align-items: center;
            .fa-location-dot {
              color: white;
              font-size: 1.7em;
              margin-right: 10px;
            }
            .bounce {
              display: inline-block;
              position: relative;
              -moz-animation: bounce 0.5s infinite linear;
              -o-animation: bounce 0.5s infinite linear;
              -webkit-animation: bounce 0.5s infinite linear;
              animation: bounce 0.5s infinite linear;
            }
          }
        }
        .hero {
          display: flex; 
          justify-content: center;
          width: 50%;
        }
        .infobox-right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 25%;
          span {
            font-family: $font-family-sans-serif;
            font-weight: 300;
            font-size: 2em;
          }
        }
      }
      .infobox {
        height: 6em;
        display: flex;
        width: 25%;
        align-items: center;
        justify-content: center;
        padding: 0 2em;
        .days-left {
          .days-left-text {
            font-size: 2em;
            font-family: $font-family-sans-serif;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            align-items: center;
            strong {
              color: $primary !important;
              font-weight: 400;
            }
          }
        }
        .ticket {
            a {
              text-decoration: none;
            }
            backface-visibility: hidden;
            transform: rotate(16deg) translateY(25%) translateZ(0);
            transform-origin: 50% 50%;
            left: 85%;
            margin-top: -65px;
            margin-left: -144px;
            position: absolute;
            display: inline-block;
            padding: 15px 25px;
            background-image:
              radial-gradient( ellipse closest-side at 50%  50%, hsla(0, 0%, 100%, 0.10), transparent 90%),
              radial-gradient( circle at 0    100%, transparent 14px, #fa616d 15px),
              radial-gradient( circle at 100% 100%, transparent 14px, #fa616d 15px),
              radial-gradient( circle at 100% 0, transparent 14px, #fa616d 15px),
              radial-gradient( circle at 0    0, transparent 14px, #fa616d 15px);
            background-position: center center, bottom left, bottom right, top right, top left;
            background-size: cover, 51% 51%, 51% 51%, 51% 51%, 51% 51%;
            background-repeat: no-repeat;
            border-width: 0 4px;
            border-color: transparent;
            border-style: solid;
            border-image: radial-gradient(cover circle, #fa616d 0%, #fa616d 50%, transparent 51%) 0 39% / 15px 4px repeat;
            -webkit-filter: drop-shadow(hsla(0, 0%, 0%, 0.55) 1px 1px 2px);
        }
        
        .ticket + .ticket {
            transform: rotate(-7deg) translateY(-25%) translateX(10px) translateZ(0);
            z-index: 1;
        }
        
        .ticket > div {
            width: 230px;
            height: 100px;
            box-sizing: border-box;
            position:relative;
            border-color: #ea4a56;
            border-style: solid;
            border-width: 2px;
            border-radius:5px;
            text-align:center;
            font: 2em/1 Impact;
            text-transform:uppercase;
            padding:15px;
            font-stretch: extra-expanded; 	
        }
        
        .ticket > div:before,
        .ticket > div:after {
            content: attr(data-number);
            font: .625em/1 $font-family-sans-serif;
            position: absolute;
            width: 96px;
            line-height: 28px;
            transform: rotate(90deg) translateZ(0) ;
            transform-origin: 0% 0%;
            text-align:center;
            display: block; 	
            top: 0;
            border-color: #ea4a56;
            border-style: solid;
            border-width: 2px 0 0;
        }
        .ticket > div:before {
          left: 28px;
        }
        
        .ticket > div:after {
          transform-origin: 100% 0%;
          right: 28px;
          transform: rotate(-90deg) translateZ(0);
        }
      }
    }
    
    ////// SUMMARY //////   
    section#summary {
      padding: 0 $page-padding-x-lg;
      padding-bottom: 3em; 
      .summary-container {
        display: flex; 
        align-items: center;
        .summary-text-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 60%;
          overflow: hidden;
          .summary-text {
            display: flex;
            // flex-direction: column;
            padding-top: 1em;
            align-items: baseline;
            padding-top: 1em;
            .summary-title {
              font-family: $font-family-sans-serif;
              font-weight: 900;
              font-size: 4em;
              // align-self: flex-start;
              letter-spacing: 0.5em;
              writing-mode: sideways-rl;
              text-orientation: mixed;
              padding-right: 0.5em;
            }
            .summary-span {
              text-align: justify;
              span {
                line-height: 1em;
              }
            }
          }  
        }
        .image-container {
          width: 40%;
          img {
            height: 40em; 
            margin-right: 3em;
          }
        }
      }
    }

    ////// EVENT STATS ////// 
    section#event_stats { 
      font-family: $font-tall-family;
      background-color: #362724;
      padding: 3em 0;
      border-radius: $border-radius; 
        .showcase_content {
            padding: 0 $page-padding-x-lg;
            .showcase_stats {
                display: flex;
                align-items: center;
                flex-direction: column;
                .showcase_stats_item {
                  position: relative;
                  display: flex;
                  justify-content: center;
                  margin-bottom: 5em;
                    .showcase_stats_count {
                      align-self: flex-start;
                      margin: .05em .1em;
                      font-size: 8vw;
                      line-height: 0.4;
                      font-family: "neue-haas";
                      color: #BC302F;
                      transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1),
                      opacity .6s cubic-bezier(0.215, 0.61, 0.355, 1);  
                    }
                    .showcase_stats_label {
                      font-size: 20vw ;
                      font-family: $font-tall-family; 
                      font-weight: 400;
                      color: wheat;
                      text-transform: uppercase;
                      line-height: .74;
                      transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1),
                      opacity .6s cubic-bezier(0.215, 0.61, 0.355, 1);
                    }
                    .showcase_stats_figure {
                      position: absolute;
                      top: -3em;
                      left: calc(100% + .625rem);
                      height: calc(100% + 4em);
                      // width: calc((100vw - 100%) / 2 - 1.25rem);
                      cursor: pointer;
                      border-radius: .75rem;
                      overflow: hidden;
                    }
                    &:nth-child(2) {
                      flex-direction: row-reverse;
                      .showcase_stats_figure {
                        right: calc(100% + .625rem); 
                        left: auto;
                      }
                  }
                }
            } 
            .isnotVisible {
              opacity: 0;
              transform: translate3d(0, 50%, 0);
            }

            .isVisible {
              opacity: 1;
              transform: translate3d(0, 0%, 0);
            }
        }
    }
}
.c-quickview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    z-index: 20;
    background: none;
    border: 0;
    @include media(">=1000px") {
      width: 100px;
      height: 100px;
    }
    &__label {
      color: white;
      background-color: $secondary;
      display: inline-block;
      transform: translate(-105%, -50%);
      transition: transform 0.3s 0s cubic-bezier(0.075, 0.82, 0.165, 1),
      border-radius 0.3s 0s cubic-bezier(0.075, 0.82, 0.165, 1);
      padding: 0.4em;
      @include media("<=999px") {
        display: none;
      }
    }
    @media (hover) {
      &:hover {
        .c-quickview__label {
          border-radius: 10px;
          transform: translate3d(0, -20%, 0) scale3d(0, 1, 1);
        }
      }
    }
  }

@media only screen and (max-width: 576px) {

  section#summary {
    padding-top: 10em;
  }

  section#event_stats{
    .showcase_content {
      justify-content: center;
      .showcase_stats {
        padding-top: 2em;
        .showcase_stats_item {
          .showcase_stats_count {
            font-size: 14vw !important;
          }
          .showcase_stats_label {
            font-size: 28vw !important;
          }
          .figure {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  section#event_stats{
    .showcase_content {
      justify-content: center;
      .showcase_stats {
        padding-top: 2em;
        .showcase_stats_item {
          .showcase_stats_count {
            font-size: 13vw;
          }
          .showcase_stats_label {
            font-size: 26vw;
          }
          // .figure {
          // }
          &:nth-child(2) {
            .figure {
              margin-left: 2em;
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-moz-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-o-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-ms-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}