.place-container{
    position: relative;
}

.place-info-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    position:absolute;
    top:5%;
    left:1em;
    width: 40vw;
    height: 90%;
    border-radius: $border-radius;
    // padding: 1em;
    h1{
        color:$ted;
        padding-left:0.5em;
        z-index: 2;
    }
    h3{
        color:$ted;
        padding-left: 1em;
        z-index: 2;
    }
}

.place-image{
    object-fit: cover;
    width:100%;
    height: 100%;
    border-bottom-right-radius: $border-radius;
}

.triangle{
  position: absolute;
  top: 5%;
  left:1em;
  border-style: solid;
  border-width: 58vh 40vw 0 0;
  border-color: $body-bg transparent transparent transparent;
  z-index: 1;
  border-top-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  // border-top-left-radius: $border-radius;
}

.image-container{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
    position:absolute;
    left:0;
    top:0;
}
