{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %}{% trans 'about.title' %}{% endblock %}
{% block description %}{% trans 'about.description' %}{% endblock %}
{% block image %}{% static "images/tedxntua_photo_1200.jpg" %}{% endblock %}
{% block content %}

<!-- CODE HERE -->
  <script src="https://kit.fontawesome.com/9bebf666e9.js" crossorigin="anonymous"></script>

    <div id="teamDescription" class="team_description">
      <h2 id="teamName">GRAPHICS</h2>
      <h2>TEAM</h2>
    </div>

    <div id="mainPage">
      <h1 class="meet_the_team">{% trans 'about.title' %}</h1>
      {% for team in teams %}
      {% if not is_mobile %}
      <div class="team_container">
      {% endif %}
        {% if is_mobile %}
        <div class="team_description_mobile">
          <div class="team_name">
            <h2>{{ team.team|upper }}</h2>
            <h2>TEAM</h2>
            <hr>
          </div>
          <div class="team_items_container_mobile">
        {% endif %}
        {% for member in members %}
        {% if member.team == team.team %}
        <div class="team_item">
          <a href="{{ member.linkedin }}">
            <h2>{{ member.name }}</h2>
            <img src="{{ member.image.thumbnail.320x320 }}" class="team_item_img">
            <div class="team_item_blackbox">
              <div class="team_item_linkedin_hover"></div>
              {% if member.linkedin %}
              <div class="linkedin_svg">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                  <path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z">
                  </path>
                </svg>
              </div>
              {% endif %}
            </div>
            {% if is_mobile %}
            {% if member.linkedin %}
            <div class="linkedin_svg">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                <path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z">
                </path>
              </svg>
            </div>
            {% endif %}
            {% endif %}
          </a>
        </div>
        {% endif %}
        {% endfor %}
      {% if is_mobile %}
      </div>
      </div>
      {% endif %}
      {% if not is_mobile %}
      </div>
      {% endif %}
      {% endfor %}
    </div>

  <div id="secondaryPage" class="sidePage">
    <div class="glassText">
      {% trans 'about.tedxntua' %}
    </div>
    <img src="{% static 'images/hand_play.png' %}" class="glassImage">
  </div>

  <div id="thirdPage" class="sidePage">
    <div class="glassText">
      {% trans 'about.ted' %}
    </div>
    <img src="{% static 'images/hand_play.png' %}" class="glassImage">
  </div>

  <div id="fourthPage" class="sidePage">
    <div class="glassText">
      {% trans 'about.tedx' %}
    </div>
    <img src="{% static 'images/hand_play.png' %}" class="glassImage">
  </div>

{% endblock %}
{% block scripts %}
    {% render_bundle 'about' 'js' %}
{% endblock %}