{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %}{% trans 'about.title' %}{% endblock %}
{% block description %}{% trans 'about.description' %}{% endblock %}
{% block image %}{% static "images/tedxntua_photo_1200.jpg" %}{% endblock %}
{% block content %}

<!-- CODE HERE -->
  <script src="https://kit.fontawesome.com/9bebf666e9.js" crossorigin="anonymous"></script>

    <div id="teamDescription" class="team_description">
      <h2 id="teamName">GRAPHICS</h2>
      <h2>TEAM</h2>
    </div>

    <div id="mainPage">
      {% for team in teams %}
      <div class="team_container">
        {% for member in members %}
        {% if member.team == team.team %}
        <div class="team_item">
          <a href="{{ member.linkedin }}">
            <h2>{{ member.name }}</h2>
            <img src="{{ member.image.thumbnail.320x320 }}" class="team_item_img">
            <div class="team_item_blackbox">
              <!-- <div class="team_item_linkedin_hover"></div> -->
              <h3>LinkedIn <i class="fa-solid fa-arrow-right"></i></h3>
            </div>
            <img src="{% static 'images/social-linkedin.png' %}" class="team_item_linkedin_icon">
          </a>
        </div>
        {% endif %}
        {% endfor %}
        <div class="team_description_mobile">
          <h2>{{ team.team|upper }}</h2>
          <h2>TEAM</h2>
          <hr>
        </div>
      </div>
      {% endfor %}
    </div>

  <div id="secondaryPage" class="sidePage">
    <div class="glassText">
      <h3>What is TEDxNTUA?</h3>
      <hr>
      <p>
        TEDxNTUA is a conference that features talks on the topics of popular science, art, and social issues, stories that can inspire, as well as intriguing workshops and performances. It runs under the auspices of the National Technical University of Athens, Greece (NTUA) and is primarily aimed at the university community, but also at the wider student and local communities of Athens.

        Our organizing team consists of volunteer students, mainly of NTUA, who embrace the notion of spreading worthy ideas, as conceived by the TED organization. Our aspiration as a team is to build this event into a platform where people who can make a difference will have their voices heard; where community members can engage with one another and spark fruitful discussion about our common concerns, like engineering and its role in building a better and more inclusive society.

        Since the project’s inception in 2015, the members of the student community have consistently shown their support with their participation as attendees or volunteers. They have thus helped establish it as an institution and imbued us with a sense of duty towards them. A crucial part in achieving this, is our constant effort to make the event open for everyone, by charging no attendance fee, with the help of our partners.

        TEDxNTUA has a non-profit motive and is solely funded by sponsor companies, organizations and patrons. It is supervised by NTUA professors and formally belongs to the Institute of Communication and Computer Systems (ICCS) of NTUA.
      </p>
    </div>
    <img src="{% static 'images/hand_play.png' %}" class="glassImage">
  </div>

  <div id="thirdPage" class="sidePage">
    <div class="glassText">
      <h3>What is TED?</h3>
      <hr>
      <p>
        TED is a nonprofit organization devoted to Ideas Worth Spreading. Started as a four-day conference in California 30 years ago, TED has grown to support its mission with multiple initiatives. The two annual TED Conferences invite the world's leading thinkers and doers to speak for 18 minutes or less. Many of these talks are then made available, free, at TED.com.

        TED speakers have included Bill Gates, Jane Goodall, Elizabeth Gilbert, Sir Richard Branson, Nandan Nilekani, Philippe Starck, Ngozi Okonjo-Iweala, Sal Khan and Daniel Kahneman.

        The annual TED Conference takes place each spring in Vancouver, British Columbia. TED's media initiatives include TED.com, where new TED Talks are posted daily; the Open Translation Project, which provides subtitles and interactive transcripts as well as translations from volunteers worldwide; the educational initiative TED-Ed. TED has established the annual TED Prize, where exceptional individuals with a wish to change the world get help translating their wishes into action; TEDx, which supports individuals or groups in hosting local, self-organized TED-style events around the world, and the TED Fellows program, helping world-changing innovators from around the globe to amplify the impact of their remarkable projects and activities.
      </p>
    </div>
    <img src="{% static 'images/hand_play.png' %}" class="glassImage">
  </div>

  <div id="fourthPage" class="sidePage">
    <div class="glassText">
      <h3>What is TEDx?</h3>
      <hr>
      <p>
        In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TED Talks video and live speakers combine to spark deep discussion and connection. These local, self-organized events are branded TEDx, where x = independently organized TED event.

        The TED Conference provides general guidance for the TEDx program, but individual TEDx event are self-organized. (Subject to certain rules and regulations.)
      </p>
    </div>
    <img src="{% static 'images/hand_play.png' %}" class="glassImage">
  </div>

{% endblock %}
{% block scripts %}
    {% render_bundle 'about' 'js' %}
{% endblock %}
