$social-icon-size: 3em;

#footer {
    z-index: 0;
    padding: 1.5em $page-padding-x-lg;
    padding-bottom: 0.5em;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    position: relative;
    margin-top: 4em; //for social icons
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        width: 100%;
        padding: 0.5em 0;
    }
    h4 {
        display: inline-block;
        margin-bottom: calc(0.5em);
        text-align: center;
        font-size: calc(1.275rem + 0vw);
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        width: 100%;
    }
    #footer-social-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        header {
            height: 10%;
        }
        #newsletter {
            margin: 0.3em;
        }
        .social-container {
            height: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: -0.5em;
            img {
                width: 3.5em;
                height: 3.5em;
                padding: 0.5em;
                opacity: 0.3;
                &:hover {
                    opacity: 1;
                }
            }
        }
        #newsletter-card {
            height: 40%;
            width: 100%;
            margin-bottom: 1em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            align-content: space-around;
            #newsletter-form {
                width: 40%;
                #newsletter-input-field {
                    width: 100%;
                    height: 2em;
                    // border-radius: 5px;
                    // border: 1px solid $body-color;
                    text-align: center;
                    outline: none;
                    color: $body-color;
                    background-color: transparent;
                    display: flex;
                    margin: auto;
                    border: none; 
                    border-bottom: 1px solid $red;
                }
            }
            .submit-btn {
                margin-left:1em;
                width: 4rem;
                height: 2rem;
                // padding: 0 1em;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $ted;
                border-radius: $border-radius;
                font-size: 90%;
                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }
    #prev-events {
        #prev-events-card {
            width: 100%;
            height: 10em;
            max-width: 20em;
            margin-bottom: 1em;
            border-radius: $border-radius;
            box-shadow: $box-shadow-soft;
        }
    }
    .scrollable-cards {
        &::-webkit-scrollbar {
            display: none;
        }
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        list-style: none;
        padding: 0;
        border-radius: $border-radius;
        .carousel-card {
            flex-shrink: 0;
            scroll-snap-align: center;
            max-width: 100%;
            height: 100%;
            margin: 0 1em 0 0;
            &:last-child {
                margin: 0;
            }
        }
        a {
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $border-radius;
            opacity: 0.6;
            &[data-loaded="false"] {
                height: 16em / 21 * 9;
            }
        }
        &:hover {
            img {
                opacity: 0.85;
                transition: 0.4s;
            }
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h5 {
            margin-bottom: 0;
            color: white;
            font-size: 2em;
            text-shadow: 0 0 20px rgba(0, 0, 0, .9);
        }
    }
    .action-container {
      position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 30%;
        // border: 1px white solid;
        margin: 0.5em;
        border-radius: $border-radius;
        @media(max-width: 1200px){
            width: 90%;
        }
        @media(max-width: 800px){
            width: 50%;
        }
        @media(max-width: 500px){
            width: 60%;
        }
        a {
            position: absolute;
            font-weight: bold;
            width:100%;
            height:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $border-radius;
                opacity: 0.8;
                filter: contrast(0.7);
            }
            &:hover {
                #prev-talks-card img {
                    filter: contrast(0.9);
                    transition: 0.4s;
                }
                .prev-talks-btn, #prev-talks-btn-sm {
                    transform: scale(1.02);
                }
            }
        }
        img {
            border-radius: $border-radius;
        }
        p {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
    }

    #footer-bottom {
        .legal {
            max-height: 2em;
            margin-top: .5em;
            display: flex;
            align-items: center;
            height: 100%;
            text-align: center;
            .links {
                > a, > span {
                    font-size: 0.9em;
                }
                margin-right: 1em;
            }
        }
        .license {
            font-size: .9em;
            color: lighten($body-color, 20%);
        }
    }
}
@media only screen and (max-width: 576px) {
    #footer {
        #footer-social-container {
            #newsletter-card {
                flex-direction: column;
                #newsletter-form {
                    width: 70%;
                    padding-bottom: 1em;
                }
            }
            .footer-container .action-container {
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    #footer {
        section {
            flex-direction: column;
        }
        .footer-container {
            width: 100%;
        }
        #footer-social-container {
            width: 100%;
            .social-container {
                margin-bottom: 0.5em;
            }
        }
        .action-container {
            width: 70%;
            p {
               margin-top: 0.5em;
               margin-bottom: 0.5em;
            }
        }
    }
    #footer-bottom {
        .legal {
            flex-direction: column;
        }
    }
}
