$nav-hover-border-width: 6px;
 body {
     overflow: scroll;
 }

 .largediv {
     font-size: 55em;
 }

.header-stop{
  fill:$body-bg;
  stroke:$primary;
  stroke-width:1;
}

.svg-header-stop:hover{
  .header-stop{
    fill:$primary;
  }
}

.header-play{
  fill:$body-bg;
  stroke:$primary;
  stroke-width:1;
}

.svg-header-play:hover{
  .header-play{
    fill:$primary;
  }
}

 nav#nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: $page-padding-y $page-padding-x;
    font-size: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    &.scrolled {
        padding: 0.6*$page-padding-y $page-padding-x;
        transition: 0.4s;
    }
    #navbar-nav {
        &.scrolled {
            margin-top: 0.15em;
            transition: 0.4s;
        }
    }
    hr {
        flex-basis: 100%;
        height: 0;
        margin: 0;
        border: 0;
    }

    .c-header__line--lg, .c-header__line:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: $body-bg;
    border-bottom: 1px solid $primary;
    z-index: -1;
    }

    //for sticky navbar
    position: fixed;
	top: 0;
    width: 100%;
    background-color: $body-bg;
    z-index: 10;
}

.navbar-brand {
    height: $logo-height-lg;
    margin-right: auto;
    font-size: inherit;
    &:hover {
        border-color: $primary;
    }
    img {
        height: 100%;
        width: auto;
    }

}

.navbar-toggler-icon {
    box-sizing: border-box;
    width: 0;
    height: 30px;
    border-style: solid;
    // border-width: 15px 0 15px 31px;
    border-style: double;
    border-width: 0px 0px 0px 31px;
    border-color: transparent transparent transparent $primary;
    cursor: pointer;
    will-change: border-width;
    transition: all .2s ease;
    &.paused {
        border-style: solid;
        border-width: 15px 0px 15px 31px;
    }
}

.navbar-nav {
    position: absolute;
    top: calc(#{$page-padding-y} + 2.8em);
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2*$page-padding-x $page-padding-y;
    margin-top: .75em;
    background: $body-bg;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 0 0 $border-radius $border-radius;
    &.collapsing {
        transition: 0.4s;
    }
    .nav-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: .25em;
        color: white;
        font-family: $font-family-serif;
        font-size: 1.5em;
        font-weight: 500;
        &:hover, &:active, &.active {
            .nav-item-text {
                color: $primary;
            }
        }
        &.dropdown-toggle {
            &::after {
                content: none;
            }
            display: none;
        }
    }
    .dropdown-toggle-hidden {
        display: flex;
    }
    .nav-dropdown-item-icon {
        width: 1em;
        height: 1em;
        margin-right: .4em;
        display: none;
    }
    .dropdown-menu {
        background-color: $body-bg;
        display: flex;
        flex-direction: column;
        min-width: auto;
        margin: 0 0 0 2.5em;
        padding: 0;
        border: none;
        font-size: 1em;
    }
    .dropdown-item {
        &:active, &.active {
            background: none;
            color: $primary;
        }
    }
    .activelink {
        color: $primary;
    }
}
.phonemenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $body-bg;
    width: 100%;
    height: 100%;
    color: white;
    position: fixed;
    top: 4.3em;
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        list-style-type: none;
        padding: 8em 0;
        li {
            font-size: large;
            padding-bottom: 3em;
            a {
                text-decoration: none;
                display: block;
                position: relative;
                color: white;
                text-transform: uppercase;
            }
            a::after {
                content: "";
                width: 0;
                height: 1px;
                position: absolute;
                left: 0;
                bottom: 0;
                background: $primary;
                transition: width .3s linear;
            }
            a:hover::after {width: 100%;}
        }
    }
}

.hidden {
    display: none;
}

/**
Enforce that dropdown becomes static for small screens.
 */
@media only screen and (max-width: 576px) {
    .navbar-brand {
        height: $logo-height;
    }
    .navbar-nav .dropdown-menu {
        position: static !important;
        transform: none !important;
    }
}

@media only screen and (min-width: 768px)  {
    nav#nav {
        font-size: 1.1rem;
        hr {
            display: none;
        }
    }
    .navbar-toggler, .language-switch-container {
        display: none;
    }
    .navbar-nav {
        position: relative;
        top: auto;
        flex-direction: row;
        align-items: center;
        width: auto;
        margin-top: 0;
        margin-left: auto;
        padding: 0;
        border: none;
        &.collapse:not(.show) {
            display: flex;
        }
        .nav-link {
            flex-direction: column;
            align-items: center;
            padding: .1em 1vw;
            margin-bottom: 0;
            font-size: .9em;
            &:hover, &:active, &.active {
                border-color: $primary;
            }
            &.dropdown-toggle {
                display: flex;
            }
        }
        .nav-item > .nav-link {
            &:hover, &:active, &.active {
                color: $primary;
                .nav-item-text {
                    box-shadow: none;
                }
            }
        }

        .dropdown-toggle-hidden {
            display: none;
        }

        .dropdown-menu {
            display: none;
            flex-direction: column;
            min-width: 8em;
            &.show {
                display: flex;
            }
            margin: .125rem 0 0;
            padding: .5rem 0;
            border: 1px solid $body-color;
            border-radius: $border-radius-sm;
        }
        .dropdown-item {
            flex-direction: row;
            align-items: center;
            padding: .4em 1em;
            border: none;
            line-height: 1;
            &:hover {
                background-color: transparent;
                // border-bottom: 2px solid $primary;
                color: $primary;
            }
        }
        .nav-dropdown-item-icon {
            width: 1em;
            height: 1em;
            margin-right: .4em;
        }
    }
    .phonemenu {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    nav#nav {
        padding: $page-padding-y-lg $page-padding-x-lg;
        font-size: 1.35rem;
        &.scrolled {
            padding: 0.4*$page-padding-y-lg $page-padding-x-lg;
            transition: 0.4s;
        }
    }
}

// @mixin arrow {
//     div.arrow {
//         width: 3vmin;
//         height: 3vmin;
//         box-sizing: border-box;
//         position: absolute;
//         left: 50%;
//         top: 50%;
//         transform: rotate(135deg);

//         &::before {
//             content: '';
//             width: 100%;
//             height: 100%;
//             border-width: .8vmin .8vmin 0 0;
//             border-style: solid;
//             border-color: #fafafa;
//             transition: .2s ease;
//             display: block;
//             transform-origin: 100% 0;
//         }
//     }
// }

// .language-switch-container {
//     position: absolute;
//     top: 0;
//     right: $page-padding-x;
//     z-index: 10;
//     text-align: right;
// }
