@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
// Colors
$primary: #EC519D;
$secondary: #4D3EAD;
$secondary-2: #921F4A;
$red: hsl(0, 100, 50);
$ted: hsl(4, 80, 51);
$yiq-contrasted-threshold: 100;

// Options
$enable-rounded: false;
$enable-responsive-font-sizes: true;

// Input box shadow
$input-btn-focus-width: 0;

// Buttons
$btn-box-shadow: .25rem .25rem 0 0 black;
$btn-border-width: 0;
$input-btn-padding-y: .375rem;
$input-btn-padding-x: 1rem;

// Body
// $body-bg:  #22272c;
$body-bg: #161616;
$body-color: #fff;

// Links
$link-color: $body-color;
$link-decoration: none;
$link-hover-color: $link-color;
$link-hover-decoration: none;

// Borders
$border-color: black;
$border-radius: 5px;
$border-radius-sm: 5px;

// Shadows
$box-shadow: 0 0 10px 10px black;
$box-shadow-soft: 0 0 20px -5px black;

// Typography
$font-family-sans-serif: 'Jura', sans-serif;
$font-family-serif:'Jura', sans-serif;
$font-tall-family: 'The Hustle';
$font-family-base: $font-family-sans-serif;

// Nav
$navbar-toggler-color: $body-color;
$logo-height: 2.75em;
$logo-height-lg: 3.25em;

// Main
$page-padding-x: 1rem;
$page-padding-y: .75rem;
$page-padding-x-lg: 2 * $page-padding-x;
$page-padding-y-lg: 2 * $page-padding-y;

// Footer
$footer-text-color: white;
$footer-default-bg: white;
$footer-border-top: none;
$footer-column-gap: 1.5rem;

// Animations
$transition-base-timing: .1s ease-in-out;
$transition-base: all $transition-base-timing;
$logo-timing: 2s;

// Dropdowns
$dropdown-border-color: black;
$dropdown-link-hover-bg: inherit;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);
