// Variables
@import "variables";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~compass-mixins/lib/compass/css3";

/** GENERAL GUIDELINES **/

/* 	MOBILE FIRST APPROACH
 *	In each CSS file, the styles that target the smallest device size should appear at the top.
 *	Styles for larger device sizes should be changed in the "Media queries" section at the end of each file.
 */

/*	MEDIA QUERIES SECTIONS
 *	Media queries should be ordered by screen size, starting from the breakpoint of the smallest size.
 *	Legend:
 *		- sm: >= 576px
 *		- md: >= 768px
 *		- lg: >= 992px
 *		- xl: >= 1200px
 *		- custom 1366px
 */

/* 	DOCUMENTATION FOR .row AND .col ELEMENTS:
 *	.col elements should all collapse in the lg-breakpoint.
 *	Thus, for small device sizes (< lg) where each .col is presented as a row,
 *	margin-bottom is added to .col elements.
 *	Likewise, for larger device sizes (> lg) where many .col elements are contained
 *  in a .row element, margin-bottom is added to .row elements.
 */


// GLOBALS
@import "globals";

// INSERT HERE OTHER COMPONENT STYLES
@import "buttons";
@import "mixins";
@import "nav";
@import "nav-scrollable-tabs";
@import "footer";
@import "language-switch";
@import "graphics";
@import "preloader";

// INDIVIDUAL PAGE STYLES
@import "~@/home/assets/css/home.scss";
@import "~@/program/assets/css/program.scss";
@import "~@/program/assets/css/listing.scss";
@import "~@/program/assets/css/schedule.scss";
@import "~@/program/assets/css/presenter.scss";
@import "~@/about/assets/css/about.scss";
@import "~@/partners/assets/css/partners.scss";

/*
 * GENERAL MEDIA QUERIES
 */
