
/* disable overscroll on apple devices */
html, body {
  overscroll-behavior-y: none;
}

body {
  overflow-x: hidden;
}

#footer {
  display: none;
}

.noscroll {
  overflow-y: hidden;
}

#main {
  overflow-x: hidden;
  display: flex;
  flex-flow: row;
}

.team_description {
  position: fixed;
  left: 25%;
  top: 25%;

  width: 45%;
  height: 50%;

  margin: 0px;
  padding-top: 5%;
  padding-left: 10%;

  text-align: left;

  border-radius: 25px;
  background-color: #EC519D;

  box-shadow: 5px 10px #A09696;
}

.team_description_mobile {

  position: absolute;

  width: 90%;
  height: 75%;

  margin: 1em;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;

  text-align: left;

  border-radius: 25px;
  background-color: #EC519D;

  box-shadow: 5px 10px #A09696;

  z-index: -1;
}

.team_description_mobile hr {
  border-color: #4D3EAD;
}

.team_description h2, .team_description_mobile h2 {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 3em;
  font-weight: normal;

  color: #4D3EAD;
}

.team_description h2:nth-child(1), .team_description_mobile h2:nth-child(1) {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.team_description h2:nth-child(2), .team_description_mobile h2:nth-child(2) {
  font-family: 'Times New Roman', Times, serif;
  /* Custom italic filter */
  transform: skew(-13deg);
  font-weight: bold;
}

.team_container {
  width: 100%;
  height: 100%;

  font-size: 90%;

  left: 0px;
  top: 0px;
  position: relative;
}

.team_item {
  width: 20%;
  position: absolute;

  cursor: pointer;
}

.team_item_mobile {
  width: 40%;
  position: absolute;

  cursor: pointer;
}

.team_item_blackbox {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0%;
}

.team_item_linkedin_hover {
  position: absolute;

  padding: 0px;
  margin: 0px;

  top: 0px;
  left: 0px;

  background-color: black;
  opacity: 0;
}

.team_item h2, .team_item_mobile h2 {
  position: absolute;

  padding: 0px;
  margin: 0px;

  top: -1.1em;

  font-size: 1em;
}

.team_item h3, .team_item_mobile h3 {
  margin: 0px;
  padding: 5px;

  position: absolute;
  bottom: 0px;
  right: 0px;

  opacity: 0;

  color: white;
}

.team_item:hover .team_item_linkedin_hover{
  opacity: 1;
  transition: 0.5s;
}

.team_item:hover h3 {
  opacity: 1;
  transition: 0.5s;
}

.team_item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 20px;
}

.team_item:nth-child(1) {
  left: 8%;
  top: 10%;
}

.team_item:nth-child(2) {
  left: 65%;
  top: 10%;
}

.team_item:nth-child(3) {
  left: 30%;
  top: 55%;
}

.team_item:nth-child(4) {
  left: 5%;
  top: 45%;
}

.team_item:nth-child(5) {
  left: 60%;
  top: 45%;
}

.team_item_mobile:nth-child(1) {
  left: 8%;
  top: 30%;
}

.team_item_mobile:nth-child(2) {
  left: 50%;
  top: 30%;
}

.team_item_mobile:nth-child(3) {
  left: 8%;
  top: 47%;
}

.team_item_mobile:nth-child(4) {
  left: 50%;
  top: 47%;
}

.team_item_mobile:nth-child(5) {
  left: 30%;
  top: 63%;
}

.team_item_linkedin_icon {
  width: 30%;

  position: absolute;
  right: 0;
  bottom: 0;

  display: none;
}

.sidePage {
  position: absolute;
  top: 25%;

  width: 100%;
}

.sidePage img {
  display: none;
}

.sidePage_mobile {
  position: relative;

  left: 10%;

  height: 5%;
}

.sidePage_mobile .glassText {

  padding: 5%;
  text-align: justify;

  overflow: scroll;
}

.sidePage_mobile .glassImage {
  display: none;
}

.glassText {
  background: rgba(236, 81, 157, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(236, 81, 157, 0.3);

  width: 80%;
  height: 70%;

  top: 25%;

  margin: 0px;
  padding: 5%;
  padding-right: 15%;

  text-align: left;
}

.glassText hr {
  border-color: white;
}

.glassImage {
  position: absolute;

  width: 40%;

  top: -3em;
  left: 60%;

  z-index: -1;
}

.invisible_up {
  animation: go_out_up .125s;
}

.invisible_down {
  animation: go_out_down .125s;
}

.visible_up {
  animation: come_in_up .125s;
}

.visible_down {
  animation: come_in_down .125s;
}


@keyframes go_out_up {

  0% {
    opacity: 1;
    transform:translate3d(0,0,0);
  }

  100% {
    opacity: 0;
    transform:translate3d(0,-100px,0);
  }

}

@keyframes go_out_down {

  0% {
    opacity: 1;
    transform:translate3d(0,0,0);
  }

  100% {
    opacity: 0;
    transform:translate3d(0,100px,0);
  }

}

@keyframes come_in_up {

  0% {
    opacity: 0;
    transform:translate3d(0,100px,0);
  }

  100% {
    opacity: 1;
    transform:translate3d(0,0,0);
  }

}

@keyframes come_in_down {

  0% {
    opacity: 0;
    transform:translate3d(0,-100px,0);
  }

  100% {
    opacity: 1;
    transform:translate3d(0,0,0);
  }

}

// --- Footer animation ---
.footer_up {
  animation: footer_up .5s;
  animation-fill-mode: forwards;
}

.footer_down {
  animation: footer_down .5s;
  animation-fill-mode: forwards;
}

@keyframes footer_up {

  0% {
    transform: translate3d(0px, 0px, 0px);
  }

  100% {
    transform: translate3d(0px, -170%, 0px);
  }

}

@keyframes footer_down {

  0% {
    transform: translate3d(0px, -170%, 0px);
  }

  100% {
    transform: translate3d(0px, 0px, 0px);
  }

}
