.noscroll {
    overflow-y: hidden;
}
#main {
    justify-content: center;
}
article.sponsors {
    padding: 0 $page-padding-x-lg;

    p {
        font-family: $font-family-serif;
        align-self: center;
    }

    /////////////////////////////////
    // partners view
    /////////////////////////////////
    .page-heading { // to change
        text-align: center;
        margin-top: 2rem;
        font-size: 2rem;
        
        &.PS-heading {
            font-size: 2.5rem;
        }
        
        &.GS-heading { // why not all grand sponsors?
            font-size: 2.25rem;
        }
    }

    .category-container {
        display: block;
        
        .partners-collection {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }
    }

    .partner-instance {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.5em 0;
        //auto padding here
        
        .partner-card {
            position: relative; // to absolutely position the child
            width: 10em; // default size
            height: 10em;
            border-radius: $border-radius;
            padding: 0.4em;
            background-color: white;
            
            .logo{
                width: 100%;
                height: 100%;
                object-fit: contain; // keep dimensions ratio
                border-radius: $border-radius;
            }

            .pop-up-button {
                display: none;
                position: absolute;
                color: $primary;
                font-size: 1em;
                font-weight: bold;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
        
            }

            &:hover {
                border: 0.4em solid $primary; // pixel vs em ???
                cursor: pointer;

                .logo {
                    filter: blur(4px);
                    -webkit-filter: blur(4px);
                }

                .pop-up-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        // .image-container{
        //     position: relative;
        //     margin: auto;
        //     height: 100%;
        //     width: 100%;
        //     background-color: white;
        //     border-radius: $border-radius;
        //     align-self: center;
        //     border: 5px solid $primary;
        //     .partner-buttons {
        //         display: flex;
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         width: 100%;
        //         height: 100%;
        //         align-items: center;
        //         justify-content: space-around;
        //     }
        //     &.hover {
        //         .website-button {
        //             display: flex;
        //         }
        //         &.hasCareerLink{
        //             .career-button {
        //                 display: flex;
        //             }   
        //         }
        //     }
        //     &.hasCareerLink {
        //         .website-button, .career-button {
        //             width: 40%;
        //             height: 40%;
        //             p {
        //                 font-size: 0.6rem;
        //             }    
        //         }
        //     }
        // }
        
    }

    /////////////////////////////////
    // special adjustments - check responsibility because we cancelled bootstrap classes
    /////////////////////////////////
    .category-container#PS, .category-container#KP  {
        .page-heading { // erase PS-heading above!
            margin-top: 1rem;
            font-size: 2.5rem;
        }


        .partner-instance {
            max-width: 100%; // ?
            //flex: 0; // ?
            //margin: 1em; // fix margin/padding
            .partner-card {
                width: 15em;
                height: 15em;
                
                .pop-up-button {
                    font-size: 1.6em;
                }
    
                &:hover {
                    border: 0.4em solid $primary;
                }
            }
        }
    }

    .category-container#GS, .category-container#GHS, .category-container#GPS, .category-container#GCS {
        .partner-instance {
            max-width: 100%; // ?
            //flex: 0; // ?
            //margin: 1em; // fix margin/padding
            .partner-card {
                width: 12em;
                height: 12em;

                .pop-up-button {
                    font-size: 1.2em;
                }
    
                &:hover {
                    border: 0.4em solid $primary;
                }
            }
        }
    }

    /////////////////////////////////
    // Modal - TODO
    /////////////////////////////////
    .modal {
        display: flex; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        //overflow: auto; /* Enable scroll if needed */
        background-color: $body-bg; /* Fallback color */
        background-color: rgba(36, 42, 48, 0.4); /* Black w/ opacity */
        &.hidden {
            display:none;
        }
    }

    .modal-content {
        background-color: rgba(50,50,50,0.9);
        margin: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        height: 70%;
        border-radius: $border-radius;

        .modal-close {
            color: $primary; // change color and everythin else
            font-size: 4em;
            font-weight: bold;
            width: max-content;
            margin-left: auto;
            cursor: pointer;
            &:hover {
                color: rgb(237, 142, 193);
            }
        }

        .modal-info {
            display: flex;
            flex-direction: row;
            height: 80%;
            align-items: center;
            
            .logo-card {
                position: relative;
                //top: 5%;
                left: -10%;
                width: 30%;
                padding: 1em;
                background-color: white;
                border-radius: $border-radius;
                height: fit-content;

                .modal-logo {
                    width: 100%;
                    height: 100%;
                    object-fit: contain; // keep dimensions ratio
                }
            }
        
            .modal-text {
                position: relative;
                left: -4%;
                width: 70%;
                height: inherit;
                overflow: hidden;
                &::-webkit-scrollbar {
                    display: none;
                }
                scrollbar-width: none;
                h3 {
                    text-align: center;
                }
                .partner-description {
                    overflow: scroll;
                    scrollbar-width: none;
                    height: 90%;
                    margin-top: 1em;
                }
            }
        }

        .modal-buttons {
            display: inline-flex;
            justify-content: center;
            width: 100%;
            height: auto;
            flex-wrap: wrap;
            .modal-career-button {
                border-radius:5px ;
                background-color: #171717;
                padding: 0.5em 1em;
                margin: 0.5em;
                text-align: center;
                &:hover {
                    background-color: rgba(39, 38, 38, 0.8);
                }
            }

            .modal-website-button {
                border-radius: 5px ;
                background-color: $primary; //#171717;
                padding: 0.5em 1em;
                margin: 0.5em;
                text-align: center;
                &:hover {
                    background-color: rgb(237, 142, 193);
                    color: black;
                }
            }
        }
    }

    @media (max-width: 800px) {
        .modal-content {
            width: 85%;
            height: 85%;

            .modal-info {
                flex-direction: column;
                align-items: center;

                .logo-card {
                    left: 0;
                    top: -6%;
                    width: 50%;
                }

                .modal-text {
                    top: -3%;
                    left: 0;
                    width: 90%;
                }
            }
        }
    }
}
@media only screen and (max-width: 430px) {
    article.sponsors {
        padding: 0;
        .page-heading {
            font-size: 1.8rem !important;
        }
        .category-container {
            .partners-collection {
                .partner-instance {
                    padding-left: 0;
                    padding-right: 0;
                    .pop-up-button {
                        font-size: 1.2em !important;
                    }
                }
            }
        }
        .partner-card {
            width: 10em !important;
            height: 10em !important;
        }
    }
}
@media only screen and (min-width: 430px) and (max-width: 550px) {
    article.sponsors {
        padding: 0;
        .page-heading {
            font-size: 1.8rem !important;
        }
        .partner-card {
            width: 12em !important;
            height: 12em !important;
        }
    }
    
    .modal-content {
        width: 95%;
        height: auto;

        .modal-info {

            .logo-card {
                width: 100%;
                margin: 1em;
                margin-top: 3em;
            }

            .modal-text {
                width: 95%;
                p {
                    padding: 1em 0;
                }
            }
        }

        .modal-buttons {
            justify-content: space-evenly;
            .modal-career-button {
                margin: 0.3em;
            }

            .modal-website-button {
                margin: 0.3em;
            }
        }
    }
}