{% load i18n %}
{% load static %}
{% load lang_extras %}
{% load active_link_tags %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as CURR_LANG %}

<nav class="phonemenu hidden" id="phone-navbar-nav" aria-label="Navigation menu">
    <ul role="menu" class="phonemenulist" aria-label="Navigation menu">
        <li class="phone-nav-item">
            <a role="phone-menuitem" href="{% url 'index' %}">
                {% trans 'Home' %}
            </a>
        </li>
        <li class="phone-nav-item">
            <a role="phone-menuitem" class="dropdown-list-identifier" href="#">
                {% trans 'The Event' %}
            </a>
        </li>
        <li class="phone-nav-item">
            <a role="phone-menuitem" href="{% url 'partners' %}">
                {% trans 'Partners' %}
            </a>
        </li>
        <li class="phone-nav-item">
            <a role="phone-menuitem" href="{% url 'about' %}">
                {% trans 'About us' %}
            </a>
        </li>
        {% if settings.TEDXNTUA_TICKETS_ENABLED %}
        <li class="phone-nav-item">
            <a role="phone-menuitem" href="{{ settings.TEDXNTUA_TICKETS_URL }}">
               {% trans 'Tickets' %}
            </a>
        </li>
        {% endif %}
    </ul>
</nav>