{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% spaceless %}
    {% if listing_type == 'speakers' %}
        {% trans 'Speakers' %}
    {% elif listing_type == 'performers' %}
        {% trans 'Performers' %}
    {% elif listing_type == 'side_events' %}
        {% trans 'Side events' %}
    {% endif %}
{% endspaceless %}{% endblock %}
{% block description %}{% spaceless %}
    {% if listing_type == 'speakers' %}
        {% trans 'speakers.description' %}
    {% elif listing_type == 'performers' %}
        {% trans 'performers.description' %}
    {% elif listing_type == 'side_events' %}
        {% trans 'side_events.description' %}
    {% endif %}
{% endspaceless %}{% endblock %}
{% block content %} 
<section id="listing">
    {% with url_name=request.resolver_match.url_name %}
    <ul class="nav nav-scrollable-tabs">
        <li class="nav-item">
            <a href="{% url 'speakers' %}" class="btn {% if url_name == 'speakers' %}back-btn{% else %}btn-secondary{% endif %}">{% trans 'Speakers' %}</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'performers' %}" class="btn {% if url_name == 'performers' %}back-btn{% else %}btn-secondary{% endif %}">{% trans 'Performers' %}</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'side-events' %}" class="btn {% if url_name == 'side-events' %}back-btn{% else %}btn-secondary{% endif %}">{% trans 'Side events' %}</a>
        </li>
        {% if settings.TEDXNTUA_SCHEDULE_ENABLED %}
        <li class="nav-item">
            <a href="{% url 'schedule' %}" class="btn {% if url_name == 'schedule' %}btn-secondary{% else %}btn-white{% endif %}">{% trans 'Schedule' %}</a>
        </li>
        {% endif %}
    </ul>
    {% endwith %}

    <ul class="c-work__list" id="js-work-container">
      {% for item in items %}
        <li class="c-work__item" id="js-work-scroll-1">
          <i class="bi bi-play" style="z-index: 11;"></i>
          <a href="{% url "presenter" slug=item.slug %}" class="c-work__link">
            <div class="c-work__showcase" id="js-work-img">
              <span class="c-work__play">
                <svg class="c-work__play__icon">
                  <defs>
                    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                      <stop offset="0%"
                      style="stop-color:#EC519D;stop-opacity:1" />
                      <stop offset="100%"
                      style="stop-color:#4D3EAD;stop-opacity:1" />
                    </linearGradient>
                  </defs>
                  <circle cx="50%" cy="50%" r="20%"
                  stroke="white" stroke-width="2" fill="url(#grad1)" />
                </svg>
              </span>
              <img class="event-img" srcset="{{ item.image.thumbnail.320x320.url }} 320w,
                            {{ item.image.thumbnail.720x720.url }} 720w,
                            {{ item.image.thumbnail.1024x1024.url }} 1024w"
                            sizes="(max-width: 576px) 320px,
                                            (max-width: 992px) 720px,
                                            1024px"
                            src="{{ item.image.thumbnail.320x320.url }}"
                            alt="{{ item.name }}" />
              <!-- <img src="{% static "images/happyface.png" %}" alt="happy face" width="100%" height="100%"/>  -->
            </div>
            <div class="c-work__title o-bg-theme">
              <div class="c-work__text">{{ item.name }}</div>
              <marquee behavior="" direction="left" class="c-work__marquee">
                <span>{{item.occupation}}</span>
                <span>{{item.occupation}}</span>
                <span>{{item.occupation}}</span>
                <span>{{item.occupation}}</span>
                <span>{{item.occupation}}</span>
                <span>{{item.occupation}}</span>
                <span>{{item.occupation}}</span>
                <span>{{item.occupation}}</span>
                <span>{{item.occupation}}</span>
                <span>{{item.occupation}}</span>
              </marquee>
            </div>
          </a>
        </li>
        {%endfor%}
        <!-- <li class="c-work__item" id="js-work-scroll-1">
            <a href="#" class="c-work__link">
              <div class="c-work__showcase" id="js-work-img">
                <button class="c-quickview">
                  <span class="c-quickview__label">
                    Find out more
                  </span>
                  <span class="c-quickview__play">                      
                    <svg xmlns="http://www.w3.org/2000/svg" class="c-quickview__svg" viewBox="0 0 70.5 90" id="playfull">
                      <path d="M2.4 45V1.7L68.1 45 2.4 88.3V45"></path>
                    </svg>
                  </span>
                </button>
                <img src="{% static "images/happyface.png" %}" alt="happy face" width="100%" height="100%"/> 
              </div>
              <div class="c-work__title o-bg-theme">
                <div class="c-work__text">Musicbed</div>
                <marquee behavior="" direction="left" class="c-work__marquee">
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                <span>Guru Yerba Mate</span>
                </marquee>
              </div>
            </a>
        </li> -->
    </ul>
</section>
{% endblock %}