{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %}{% trans 'schedule.title' %}{% endblock %}
{% block description %}{% trans 'schedule.description' %}{% endblock %}
{% block content %}
<article class="event-page schedule-page">
    <div class="table table-main">
        <!-- row 1 -->
        {% for time,row in schedule.items %}
        {% if forloop.counter0|divisibleby:2 %}
        <div class="table-row">
            <div class="table-cell table-cell-full div-right">
                {% for stage, event in row.items%}
                {% if event %}
                <!-- <img src="{% static 'images/happyface.png' %}" width="100%" height="100%"> -->
                <img class="event-img" srcset="{{ event.image.thumbnail.320x320.url }} 320w,
                            {{ event.image.thumbnail.720x720.url }} 720w,
                            {{ event.image.thumbnail.1024x1024.url }} 1024w"
                            sizes="(max-width: 576px) 320px,
                                            (max-width: 992px) 720px,
                                            1024px"
                            src="{{ event.image.thumbnail.320x320.url }}"
                            alt="{{ event.title }}" />
                {% endif %}
                {% endfor %}
            </div>
            <div class="table-cell table-cell-border">
                <div class="time-slot">
                    <pre>{{time}}</pre>
                </div>
            </div>
            <div class="table-cell table-cell-full text-left">
                <div class="detail-container">
                    <div class="detail-line col-2"></div>
                    <div class="detail-text col-10">
                    {% for stage, event in row.items%}
                        {% if event %}
                        <h3>{{event.presenter}}</h3>
                        <h6>{{ event.title}}</h6>
                        <p>{{ event.subtitle}}</p>    
                        <!-- <p>{{ event.description }}</p> -->
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="table-row">
            <div class="table-cell table-cell-full div-right">
                <div class="detail-container">
                    <div class="detail-text col-10">
                    {% for stage, event in row.items%}
                        {% if event %}
                        <h3>{{event.presenter}}</h3>
                        <h6>{{ event.title}}</h6>
                        <p>{{ event.subtitle}}</p>    
                        <!-- <p>{{ event.description }}</p> -->
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="detail-line col-2"></div>
                </div>
            </div>
            <div class="table-cell table-cell-border">
                <div class="time-slot">
                    <pre>{{time}}</pre>
                </div>
            </div>
            <div class="table-cell table-cell-full text-left">
            {% for stage, event in row.items%}
                {% if event %}
                <!-- <img src="{% static 'images/happyface.png' %}" width="100%" height="100%"> -->
                <img class="event-img" srcset="{{ event.image.thumbnail.320x320.url }} 320w,
                            {{ event.image.thumbnail.720x720.url }} 720w,
                            {{ event.image.thumbnail.1024x1024.url }} 1024w"
                            sizes="(max-width: 576px) 320px,
                                            (max-width: 992px) 720px,
                                            1024px"
                            src="{{ event.image.thumbnail.320x320.url }}"
                            alt="{{ event.title }}" />
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</article>
{% endblock %}
{% block scripts %}
    {% render_bundle 'schedule' 'js' %}
{% endblock %}
