.schedule-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    .page-title{
        margin:0;
        margin:1em;
    }
}
.table {
    display: table;
    width:100%;
    min-height: 100px;
    table-layout: fixed;
}

.table-row {
    display: table-row;
    height: 33.3vh;
    aspect-ratio: auto;

    .table-cell {
        display: table-cell;
    }

    .table-cell-full {
        width: 50%;
        height: 100%;
        img {
            object-fit: contain;
        }
        .detail-container {
            display:flex; 
            align-items: center; 
            flex-direction: row;
            
            .detail-line {
                border-top: 1px solid #EC519D; 
            }
        }
    }



    .text-left{
        text-align: left;
        padding-left: 2em;
        vertical-align: middle;
    }

    .table-cell-border{
        border-right: 4px solid $primary;
        width: 1px;
        vertical-align: middle;
        .time-slot{
            display:flex; 
            align-items: center; 
            justify-content: center;
            pre{
                color:white;
                position: absolute;
                background-color: $body-bg;
                margin:0;
                font-size: 1em;
            }
        }
        
    }

}
.detail-text{
    display:flex; 
    flex-wrap:wrap;
    flex-direction: column;
    padding: 1em;
    p{margin: 0}
}

.div-right{
    text-align: right;
    padding-right: 2em;
    vertical-align: middle;
}
.row-flex-container{
    display: flex;
    width:94.6vw;
}

.reverse{
    flex-direction: row-reverse;
}


@media (max-width: 700px){
    .div-right{
        text-align: left;
        padding-left: 2em;
        vertical-align: middle;
    }
    .table-cell-full{
        width: 100%;
    }
}