{% load i18n %}
{% load static %}
<section id="event_stats">
    <div class="showcase_content">
        <ul class="showcase_stats">
            <li class="showcase_stats_item" data-showcase="line">
                <span class="showcase_stats_count isnotVisible stat1">20</span>
                <span class="showcase_stats_label isnotVisible stat2">talks</span>
                <figure class="showcase_stats_figure"> 
                    <img class="figure" src="{% static "images/placeholder123.jpg" %}" width="500px" alt="happy face">
                </figure>
            </li>
            <li class="showcase_stats_item" data-showcase="line">
                <span class="showcase_stats_count isnotVisible stat3" >9</span>
                <span class="showcase_stats_label isnotVisible stat4">workshops</span>
                <figure class="showcase_stats_figure"> 
                    <img class="figure" src="{% static "images/placeholder123.jpg" %}" width="500px" alt="happy face">
                </figure>
            </li>
            <li class="showcase_stats_item" data-showcase="line">
                <span class="showcase_stats_count isnotVisible stat5">4</span>
                <span class="showcase_stats_label isnotVisible stat6">performances</span>
                <figure class="showcase_stats_figure"> 
                    <img class="figure" src="{% static "images/placeholder123.jpg" %}" width="500px" alt="happy face">
                </figure>
            </li>
        </ul>
    </div>
</section>