{% load i18n %}
{% load static %}
<section id="event_stats">
    <div class="showcase_content">
        <ul class="showcase_stats">
            <li class="showcase_stats_item" data-showcase="line">
                <a href="{% url 'speakers' %}" role="link" tabindex="0">
                    <span class="showcase_stats_count isnotVisible stat1">9</span>
                    <span class="showcase_stats_label isnotVisible stat2">talks</span>
                </a>
                <img class="showcase_stats_figure" src="{% static "images/kodrabaso.png" %}" alt="Guy playing the kodrabaso">
            </li>
            <li class="showcase_stats_item" data-showcase="line">
                <a href="{% url 'side-events' %}" role="link" tabindex="0">
                    <span class="showcase_stats_count isnotVisible stat3" >6</span>
                    <span class="showcase_stats_label isnotVisible stat4">workshops</span>
                </a>
                <img class="showcase_stats_figure" src="{% static "images/violin_girls.jpg" %}" alt="2 girls playing the violin">
            </li>
            <li class="showcase_stats_item" data-showcase="line" role="link" tabindex="0">
                <a href="{% url 'performers' %}">
                    <span class="showcase_stats_count isnotVisible stat5">4</span>
                    <span class="showcase_stats_label isnotVisible stat6">performances</span>
                </a>
                <img class="showcase_stats_figure" src="{% static "images/marvavontheo.jpg" %}" alt="Woman singing and holding the microphone">
            </li>  
        </ul>
    </div>
</section>