{% load i18n %}
{% load static %}
<section id="hero">
    <div class="content">
        <div class="infobox-left">
        </div>
        <div class="hero">
            <model-viewer src="{% static "images/3D_head.glb" %}
            alt="3D head animation" loading="eager"
            reveal="auto" auto-rotate rotation-per-second="60deg"
            id="model">
            </model-viewer>
        </div>
        <div class="infobox-right">

        </div>
    </div>
    <div class="infobox">
        
    </div>
</section>