{% load i18n %}
{% load static %}
<section id="hero">
    <div class="hero">
        <img class="backroung-img" src="{% static "images/model_backround.png" %}" width="500px" alt="">
        <!-- <model-viewer class="head-model" src="{% static "images/HEADONLY.glb" %}" alt="3d model"
            loading="eager" auto-rotate camera-controls disable-zoom 
            reveal="auto" 
            id="model">
        </model-viewer> -->
        <model-viewer class="head-model" src="{% static "images/HEADONLY.glb" %}" alt="3d model"
        loading="eager"  camera-controls camera-orbit="0 deg 0 deg 0" auto-rotate disable-zoom 
        reveal="auto" 
        id="model">
    </model-viewer>
    </img> 
    </div>
    <div class="content">
        <div class="infobox-top">
            <img class="play_logo" src="{% static "images/play_logo.png" %}" alt=""/>
            <span>{% trans 'event.location' %}</span>
            <div class="location">
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fa-solid fa-location-dot bounce"></i>
                    <span>{% trans 'event.address' %} </span><span class="change-color">206</span>
                </a>
            </div>
            <!-- <div class="days-left">
                <span class="days-left-text" ending-time="21/05/2022">00</span> 
            </div>  -->
        </div>
        <div class="infobox-bottom">
            <span class="info-date">{% trans 'event.date' %}</span>       
            <a class="ticket-link" href="https://www.youtube.com/" target="_blank">
                <div class="ticketbox">  
                    <div class="ticket-text">
                        <span>Tickets</span>
                    </div>  
                    <div class="ticket-arrow-text">
                        <span>Book your Ticket</span>
                        <img class="svg-image" src="{% static "images/arrow-top-right.svg" %}" alt="arrow-right">
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- 
<div class="days-left">
    <span class="days-left-text" ending-time="21/05/2022">00</span> 
</div> -->

<!-- <div class="infobox">
    <div class="days-left">
        <span class="days-left-text" ending-time="21/05/2022">00</span> 
    </div>
    <a href="https://www.youtube.com/">
        <div class="ticket">
            <div data-number="198812">Book<br/>Your Ticket</div>
        </div>
        <div class="ticket">
            <div data-number="198813">Book<br/>Your Ticket</div>
        </div>
    </a>          
</div> -->