{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %}{% trans 'home.title' %}{% endblock %}
{% block description %}{% trans 'home.description' %}{% endblock %}
{% block content %}

<!-- CODE HERE -->
<div class="place-container">
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1572.2704974515857!2d23.730709408181557!3d37.987839944930336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bd3161d1cae7%3A0xcf7f3f434657d025!2zzpXOuM69zrnOus-MIM6czrXPhM-Dz4zOss65zr8gzqDOv867z4XPhM61z4fOvc61zq_OvywgzpHOuM6uzr3OsSAxMDYgODI!5e0!3m2!1sel!2sgr!4v1650236292183!5m2!1sel!2sgr"
    width=100% height="450" style="border:0; filter: grayscale(100%);" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3145.4102717159203!2d23.694398115153216!3d37.96755367972483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bcf3c94720a9%3A0x93c0a3f603fbb34e!2zTUNGIC0gTWljaGFlbCBDYWNveWFubmlzIEZvdW5kYXRpb24gLSDOis60z4HPhc68zrEgzpzOuc-HzqzOu863z4IgzprOsc66zr_Os865zqzOvc69zrfPgg!5e0!3m2!1sel!2sgr!4v1650534006152!5m2!1sel!2sgr"
    width=100% height="450" style="border:0; filter: grayscale(100%);" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="triangle"></div>
    <div class="place-info-container">
        <h1>MCF</h1>
        <h3>Ίδρυμα Μηχάλης Κακογιάννης</h3>
        <h3>Πειραιώς 206</h3>
        <div class="image-container">
        <img class="place-image" src="{% static 'images/hub_events.jpg'%}">
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {% render_bundle 'home' 'js' %}
{% endblock %}
