{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %}{% trans 'home.title' %}{% endblock %}
{% block description %}{% trans 'home.description' %}{% endblock %}
{% block content %}

<article class="home-page">
    <div class="section-container">
        {% include "home/hero.html" %}
    </div>
    <div class="section-container">
        {% include "home/summary.html" %}
    </div>
    <div class="section-container">
        {% include "home/event_stats.html" %}
    </div>
    <div class="section-container">
        {% include "home/location.html" %}
    </div>
</article>

{% endblock %}
{% block scripts %}
    {% render_bundle 'home' 'js' %}
{% endblock %}
