{% load i18n %}
{% load static %}

<section id="location">
    <div class="venue">
        <h1 class="venue-title">{% trans 'location.header' %}</h1>
        <div class="place-container">
            <div class="place-info">
                <div class="loc-info">
                    <span>{% trans 'event.location' %}</span>
                    <div class="location">
                        <a href="https://mcf.gr/el/" target="_blank">
                            <i class="fa-solid fa-location-dot bounce"></i>
                            <span>{% trans 'event.address' %}</span><span class="change-color">206</span>
                        </a>
                    </div>
                </div>
                <div class="transportation"> 
                    <p class="how-to">{% trans 'location.howto' %}</p>
                    <p class="how-text">
                        {% trans 'location.text' %}
                    </p>
                </div>
            </div>
            <div class="place-image-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3145.4102717159203!2d23.694398115153216!3d37.96755367972483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bcf3c94720a9%3A0x93c0a3f603fbb34e!2zTUNGIC0gTWljaGFlbCBDYWNveWFubmlzIEZvdW5kYXRpb24gLSDOis60z4HPhc68zrEgzpzOuc-HzqzOu863z4IgzprOsc66zr_Os865zqzOvc69zrfPgg!5e0!3m2!1sel!2sgr!4v1650534006152!5m2!1sel!2sgr"
                class="place-map" allowfullscreen="" loading="eager" referrerpolicy="no-referrer-when-downgrade"></iframe>    
                <img class="place-image" src="{% static 'images/venue.png'%}">
                </div>
            </div>
            <div class="transportation-vol2"> 
                <p class="how-to">{% trans 'location.howto' %}</p>
                <p class="how-text">
                    {% trans 'location.text' %}
                </p>
            </div>
        </div>
    </div>
</section>