{% load i18n %}
{% load static %}

<section id="location">
    <div class="venue">
        <h1 class="venue-title">The Location</h1>
        <div class="place-container">
            <div class="place-info">
                <div class="loc-info">
                    <span>Michael Cacoyannis Foundation</span>
                    <div class="location">
                        <a href="https://www.youtube.com/" target="_blank">
                            <i class="fa-solid fa-location-dot bounce"></i>
                            <span>Pireos 206</span>
                        </a>
                    </div>
                </div>
                <div class="transportation"> 
                    <p class="how-to">How to get there</p>
                    <p class="how-text">
                        Πρόσβαση μεσω <strong>MMM</strong>: 
                        <br>
                        <b>Λεωφορείο:</b> 049, 815, 914 (στάση Ταύρος)
                        <br>
                        <b>Ηλεκτρικός Σιδηρόδρομος:</b> Στ. Καλλιθέας (Γραμμή 1 - 12’ περίπου με τα πόδια)
                        <br>
                        <b>Προαστιακός Σιδηρόδρομος:</b> Σταθμός Ταύρος (5' λεπτά με τα πόδια)
                        <br>
                        Use the Best Route tool from the OASA website to get a detailed itinerary.
                    </p>
                </div>
            </div>
            <div class="place-image-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3145.4102717159203!2d23.694398115153216!3d37.96755367972483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bcf3c94720a9%3A0x93c0a3f603fbb34e!2zTUNGIC0gTWljaGFlbCBDYWNveWFubmlzIEZvdW5kYXRpb24gLSDOis60z4HPhc68zrEgzpzOuc-HzqzOu863z4IgzprOsc66zr_Os865zqzOvc69zrfPgg!5e0!3m2!1sel!2sgr!4v1650534006152!5m2!1sel!2sgr"
                class="place-map" allowfullscreen="" loading="eager" referrerpolicy="no-referrer-when-downgrade"></iframe>    
                <img class="place-image" src="{% static 'images/venue.png'%}">
                </div>
            </div>
            <div class="transportation-vol2"> 
                <p class="how-to">How to get there</p>
                <p class="how-text">
                    Πρόσβαση μεσω <strong>MMM</strong>: 
                    <br>
                    <b>Λεωφορείο:</b> 049, 815, 914 (στάση Ταύρος)
                    <br>
                    <b>Ηλεκτρικός Σιδηρόδρομος:</b> Στ. Καλλιθέας (Γραμμή 1 - 12’ περίπου με τα πόδια)
                    <br>
                    <b>Προαστιακός Σιδηρόδρομος:</b> Σταθμός Ταύρος (5' λεπτά με τα πόδια)
                    <br>
                    Use the Best Route tool from the OASA website to get a detailed itinerary.
                </p>
            </div>
        </div>
    </div>
</section>