{% load i18n %}
{% load static %}
<div id="social-container">
    <a href="https://www.instagram.com/tedxntua/?hl=en" class="instagram" target="_blank" role="link" tabindex="0" aria-label="This link leeads to TEDx NTUA instagram account">
        <div class="social-icon-text">
            <img src="{% static "images/social-instagram.png" %}">
            <span>Instagram</span>
            
        </div>
    </a>
    <a href="https://www.facebook.com/tedxntua/" class="facebook" target="_blank" role="link" tabindex="0" aria-label="This link leeads to TEDx NTUA facebook account">
        <div class="social-icon-text">
            <img src="{% static "images/social-facebook.png" %}">
            <span>Facebook</span>
        </div>
    </a>
    <a href="https://www.linkedin.com/company/tedxntua/" class="linkedin" target="_blank" role="link" tabindex="0" aria-label="This link leeads to TEDx NTUA LinkedIn account">
        <div class="social-icon-text">
            <img src="{% static "images/social-linkedin.png" %}">
            <span>LinkedIn</span>
        </div>
    </a>
    <a href="https://www.youtube.com/channel/UCVtjgrrBdSPZERmdso2o0dw/featured" class="youtube" target="_blank" role="link" tabindex="0" aria-label="This link leeads to TEDx NTUA YouTube account">
        <div class="social-icon-text">
            <img src="{% static "images/social-youtube.png" %}">
            <span>YouTube</span>
        </div>
    </a>
</div>