{% load i18n %}
{% load static %}   
<section id="summary">
    <div class="summary-container">
        <div class="image-container-summary">
            <img src="{% static "images/hand.png" %}"
                    alt="hand" />
        </div>
        <div class="summary-text-container">
            <div class="header-text">
                <span>P</span>
                <span>L</span>
                <span>A</span>
                <span>Y</span>
                <span>.</span>
            </div>
            <div class="summary-text">
                <div class="summary-span">
                    {% trans 'home.play' %}
                </div>
            </div>
        </div>
    </div>
</section>