{% load i18n %}
{% load static %}   
<section id="summary">
    <div class="summary-container">
        <div class="summary-text-container">
            <div class="header-text">
                <h2 id="enigma-alt">Play is</h2>
                <div class="enigma">
                    <div class="enigma__container">
                    <p id="enigma_text" class="enigma__container__text">
                        {% trans "enigma_is" %}
                    </p>
                    <ul class="enigma__container__list">
                        <li class="opt1 enigma__container__list__item">fun</li>
                        <li class="opt2 enigma__container__list__item">enigmatic</li>
                        <li class="opt1 enigma__container__list__item">interesting</li>
                        <li class="opt2 enigma__container__list__item">intimedating</li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="summary-text">
                <div class="summary-title">
                    PLAY.
                </div>
                <div class="summary-span">
                    <span> Μπορεί  στο  πρώτο  άκουσμα  του  <b>PLAY</b>  να  μεταφερόμαστε  αυτόματα 
                        στην  παιδική  μας  ηλικία  και  να  αναπολούμε νοσταλγικά  εκείνες  τις  
                    στιγμές,  όμως  το <b>TEDx  NTUA  2022</b> θέτει  ως  στόχο  –και  πρόκληση–  
                    να  ανατρέψει  αυτή  την αυθόρμητη σκέψη. Το παιχνίδι είναι παρόν σε κάθε πτυχή της ζωής, μας ακολουθεί 
                    «σιωπηλά», εξελίσσεται όσο εμείς μεγαλώνουμε και αλλάζουμε, παραμένοντας πάντα ένα μέσο διαφυγής, 
                    μια υπενθύμιση πως η καθημερινότητα δεν είναι τόσο αυστηρή και μονότονη, όσο φαντάζει κάποιες φορές. 
                    </span>
                    <span>
                        <br>
                        Τι σημαίνει πραγματικά ubuntu και με πόσα πράγματα μπορεί να συνδεθεί;
                        Η ομάδα του TEDxNTUA 2021 θα δώσει της δικής της ερμηνεία στις 21 Μαΐου. 
                        Τι σημαίνει πραγματικά ubuntu και με πόσα πράγματα μπορεί να συνδεθεί;
                        Η ομάδα του TEDxNTUA 2021 θα δώσει της δικής της ερμηνεία στις 21 Μαΐου. 
                        Τι σημαίνει πραγματικά ubuntu και με πόσα πράγματα μπορεί να συνδεθεί;
                        Η ομάδα του TEDxNTUA 2021 θα δώσει της δικής της ερμηνεία στις 21 Μαΐου. 
                    </span>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="{% static "images/hand.png" %}"
                    alt="hand" />
        </div>
    </div>
</section>