{% load i18n %}
{% load static %}   
<section id="summary">
    <div class="summary-container">
        <div class="image-container">
            <img src="{% static "images/hand.png" %}"
                    alt="hand" />
        </div>
        <fieldset class="summary-text col-lg-8 col-md-7 col-sm-11">
            <legend><h2>What is PLAY?</h2></legend>
            <span> How does every little act affect our fellow men?

                Ubuntu is a word with a double meaning. On the one hand it is widely known for its open source software name and on the other it is an African proverb that comes from the Zulu tribe. Specifically it means «I am because you are». It has its roots in African humanitarian philosophy, where the idea of ​​community is one of the building blocks of society. Ubuntu is this cloudy concept of unity, humanity, completeness, solidarity and faith in a global bond that unites all of humanity.
                
                What does ubuntu really mean and how many things can it connect to?
                
                The TEDxNTUA 2021 team will give its own interpretation on 29th of May.
                Ubuntu is a word with a double meaning. On the one hand it is widely known for its open source software name and on the other it is an African proverb that comes from the Zulu tribe. Specifically it means «I am because you are». It has its roots in African humanitarian philosophy, where the idea of ​​community is one of the building blocks of society. Ubuntu is this cloudy concept of unity, humanity, completeness, solidarity and faith in a global bond that unites all of humanity.
                
                What does ubuntu really mean and how many things can it connect to?
                
                The TEDxNTUA 2021 team will give its own interpretation on 29th of May. </span>
        </fieldset>
    </div>
</section>